# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
ios/Podfile.lock
ios/SalesmanStoreOwner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
package-lock.json
ios/Podfile.lock
ios/SalesmanStoreOwner.xcodeproj/project.pbxproj
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativecountrypickermodal_lib_assets_images_close.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativecountrypickermodal_lib_assets_images_closeios.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativegoogleplacesautocomplete_images_powered_by_google_on_white.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeinstagramlogin_assets_closebutton.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativelinkedin_lib_assets_xwhite.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaper_src_assets_backchevron.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_images_cardback.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_images_cardfront.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_amex.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_cvc.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_cvc_amex.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_diners.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_discover.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_jcb.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_mastercard.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_unknown.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaymentcard_src_icons_stp_card_visa.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_dist_images_airbnbstar.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_dist_images_airbnbstarselected.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_dist_images_bell.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_dist_images_heart.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_dist_images_rocket.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativeratings_dist_images_star.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_stack_src_views_assets_backiconmask.png
android/app/src/main/res/drawable-mdpi/src_images_curve.png
android/app/src/main/res/drawable-mdpi/src_images_profile.png
android/app/src/main/res/drawable-mdpi/src_res_assets_account.png
android/app/src/main/res/drawable-mdpi/src_res_assets_account_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_accounttoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_add_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_addcircle.png
android/app/src/main/res/drawable-mdpi/src_res_assets_addstore.png
android/app/src/main/res/drawable-mdpi/src_res_assets_addwhytoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_advertisetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_affrim.png
android/app/src/main/res/drawable-mdpi/src_res_assets_analysetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ar.jpg
android/app/src/main/res/drawable-mdpi/src_res_assets_arroricon.jpg
android/app/src/main/res/drawable-mdpi/src_res_assets_arrow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_atrate.png
android/app/src/main/res/drawable-mdpi/src_res_assets_audioo.png
android/app/src/main/res/drawable-mdpi/src_res_assets_back_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_backbox.png
android/app/src/main/res/drawable-mdpi/src_res_assets_backpopup.png
android/app/src/main/res/drawable-mdpi/src_res_assets_baga.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bank_building_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bar.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bar1.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bar2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bar4.png
android/app/src/main/res/drawable-mdpi/src_res_assets_basket.png
android/app/src/main/res/drawable-mdpi/src_res_assets_beauty.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bell.png
android/app/src/main/res/drawable-mdpi/src_res_assets_bigcommerce.png
android/app/src/main/res/drawable-mdpi/src_res_assets_blackhome.png
android/app/src/main/res/drawable-mdpi/src_res_assets_blackrighttoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_blackshoetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_blueimg.png
android/app/src/main/res/drawable-mdpi/src_res_assets_blurcoat.png
android/app/src/main/res/drawable-mdpi/src_res_assets_boybackground.png
android/app/src/main/res/drawable-mdpi/src_res_assets_boygame.png
android/app/src/main/res/drawable-mdpi/src_res_assets_brandicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_calendar_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_call.png
android/app/src/main/res/drawable-mdpi/src_res_assets_call_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callbag.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callbrand.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callevent.png
android/app/src/main/res/drawable-mdpi/src_res_assets_calllike.png
android/app/src/main/res/drawable-mdpi/src_res_assets_calllogo.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callmore.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callshare.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callsignout.png
android/app/src/main/res/drawable-mdpi/src_res_assets_callspeaker.png
android/app/src/main/res/drawable-mdpi/src_res_assets_calltoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_caltoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_cam.png
android/app/src/main/res/drawable-mdpi/src_res_assets_camera.png
android/app/src/main/res/drawable-mdpi/src_res_assets_cart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_cart2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_cartred.png
android/app/src/main/res/drawable-mdpi/src_res_assets_chat.png
android/app/src/main/res/drawable-mdpi/src_res_assets_chat2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_chatarrow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_chaticon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_chattoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_chevron_left.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ci_radio.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ci_radiofilled.png
android/app/src/main/res/drawable-mdpi/src_res_assets_circle.png
android/app/src/main/res/drawable-mdpi/src_res_assets_client.png
android/app/src/main/res/drawable-mdpi/src_res_assets_clock.png
android/app/src/main/res/drawable-mdpi/src_res_assets_close.png
android/app/src/main/res/drawable-mdpi/src_res_assets_close_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_closepopup.png
android/app/src/main/res/drawable-mdpi/src_res_assets_closetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_clothes.png
android/app/src/main/res/drawable-mdpi/src_res_assets_clothing.png
android/app/src/main/res/drawable-mdpi/src_res_assets_colortodayshoe.png
android/app/src/main/res/drawable-mdpi/src_res_assets_commercetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_containtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_copy.png
android/app/src/main/res/drawable-mdpi/src_res_assets_copypaste.png
android/app/src/main/res/drawable-mdpi/src_res_assets_copytoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_copyy.png
android/app/src/main/res/drawable-mdpi/src_res_assets_coupon_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_coupon_label.png
android/app/src/main/res/drawable-mdpi/src_res_assets_cream.png
android/app/src/main/res/drawable-mdpi/src_res_assets_credit.png
android/app/src/main/res/drawable-mdpi/src_res_assets_cropimage_bg.png
android/app/src/main/res/drawable-mdpi/src_res_assets_del.png
android/app/src/main/res/drawable-mdpi/src_res_assets_deleteicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_deletetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_deleticon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_discover.png
android/app/src/main/res/drawable-mdpi/src_res_assets_dowmload.png
android/app/src/main/res/drawable-mdpi/src_res_assets_down_arrow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_drop_down_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_earn.png
android/app/src/main/res/drawable-mdpi/src_res_assets_earning_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_easytoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_edit.png
android/app/src/main/res/drawable-mdpi/src_res_assets_edit_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_edittoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_elli.png
android/app/src/main/res/drawable-mdpi/src_res_assets_email.png
android/app/src/main/res/drawable-mdpi/src_res_assets_email2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_emailing.png
android/app/src/main/res/drawable-mdpi/src_res_assets_envelope_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_etsy.png
android/app/src/main/res/drawable-mdpi/src_res_assets_event.png
android/app/src/main/res/drawable-mdpi/src_res_assets_exittoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_exporthelp.png
android/app/src/main/res/drawable-mdpi/src_res_assets_express.png
android/app/src/main/res/drawable-mdpi/src_res_assets_eye_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_eye_icon_hide.png
android/app/src/main/res/drawable-mdpi/src_res_assets_facebook.png
android/app/src/main/res/drawable-mdpi/src_res_assets_facebookicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_fb.png
android/app/src/main/res/drawable-mdpi/src_res_assets_filter.png
android/app/src/main/res/drawable-mdpi/src_res_assets_filtertoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_forest.png
android/app/src/main/res/drawable-mdpi/src_res_assets_furniture.png
android/app/src/main/res/drawable-mdpi/src_res_assets_game.png
android/app/src/main/res/drawable-mdpi/src_res_assets_gendeer.jpg
android/app/src/main/res/drawable-mdpi/src_res_assets_gender.png
android/app/src/main/res/drawable-mdpi/src_res_assets_girl.png
android/app/src/main/res/drawable-mdpi/src_res_assets_girlbackground.png
android/app/src/main/res/drawable-mdpi/src_res_assets_girlcent.png
android/app/src/main/res/drawable-mdpi/src_res_assets_girlyellow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_golive.png
android/app/src/main/res/drawable-mdpi/src_res_assets_golivered.png
android/app/src/main/res/drawable-mdpi/src_res_assets_google.png
android/app/src/main/res/drawable-mdpi/src_res_assets_googleicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_greencart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_greenphone.png
android/app/src/main/res/drawable-mdpi/src_res_assets_greentickmark.png
android/app/src/main/res/drawable-mdpi/src_res_assets_hanger.png
android/app/src/main/res/drawable-mdpi/src_res_assets_home.png
android/app/src/main/res/drawable-mdpi/src_res_assets_home_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_hometoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_hydrocream.png
android/app/src/main/res/drawable-mdpi/src_res_assets_iconheart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_iconlock.png
android/app/src/main/res/drawable-mdpi/src_res_assets_iconpath.png
android/app/src/main/res/drawable-mdpi/src_res_assets_info_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_insights_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_insta.png
android/app/src/main/res/drawable-mdpi/src_res_assets_jeans.png
android/app/src/main/res/drawable-mdpi/src_res_assets_like.png
android/app/src/main/res/drawable-mdpi/src_res_assets_likecircle.png
android/app/src/main/res/drawable-mdpi/src_res_assets_likee.png
android/app/src/main/res/drawable-mdpi/src_res_assets_likethumb.png
android/app/src/main/res/drawable-mdpi/src_res_assets_line.png
android/app/src/main/res/drawable-mdpi/src_res_assets_linkedinicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_linkin.png
android/app/src/main/res/drawable-mdpi/src_res_assets_list_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_liveicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_livetvtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_location_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_lock.png
android/app/src/main/res/drawable-mdpi/src_res_assets_login_bg_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_logo.png
android/app/src/main/res/drawable-mdpi/src_res_assets_logored.png
android/app/src/main/res/drawable-mdpi/src_res_assets_logored_1.png
android/app/src/main/res/drawable-mdpi/src_res_assets_logout.png
android/app/src/main/res/drawable-mdpi/src_res_assets_logout_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_mail.png
android/app/src/main/res/drawable-mdpi/src_res_assets_man.png
android/app/src/main/res/drawable-mdpi/src_res_assets_mastercard.png
android/app/src/main/res/drawable-mdpi/src_res_assets_mastro.png
android/app/src/main/res/drawable-mdpi/src_res_assets_menu_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_menutoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_message.png
android/app/src/main/res/drawable-mdpi/src_res_assets_messagesend.png
android/app/src/main/res/drawable-mdpi/src_res_assets_mobile.png
android/app/src/main/res/drawable-mdpi/src_res_assets_more.png
android/app/src/main/res/drawable-mdpi/src_res_assets_mutespeker.png
android/app/src/main/res/drawable-mdpi/src_res_assets_newgroup.png
android/app/src/main/res/drawable-mdpi/src_res_assets_newimg.png
android/app/src/main/res/drawable-mdpi/src_res_assets_neworder.png
android/app/src/main/res/drawable-mdpi/src_res_assets_neworderred.png
android/app/src/main/res/drawable-mdpi/src_res_assets_next.png
android/app/src/main/res/drawable-mdpi/src_res_assets_next_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_no_coupon_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_note_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_novendor_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ordercopytoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ordertoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ordtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_outheart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_outlock.png
android/app/src/main/res/drawable-mdpi/src_res_assets_park.png
android/app/src/main/res/drawable-mdpi/src_res_assets_paypal.png
android/app/src/main/res/drawable-mdpi/src_res_assets_phonee.png
android/app/src/main/res/drawable-mdpi/src_res_assets_playicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_plusicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_popimg.png
android/app/src/main/res/drawable-mdpi/src_res_assets_popimg1.png
android/app/src/main/res/drawable-mdpi/src_res_assets_popimg2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_popimg3.png
android/app/src/main/res/drawable-mdpi/src_res_assets_prodtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_products.png
android/app/src/main/res/drawable-mdpi/src_res_assets_producttoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_prof.png
android/app/src/main/res/drawable-mdpi/src_res_assets_profile.png
android/app/src/main/res/drawable-mdpi/src_res_assets_profileimage.png
android/app/src/main/res/drawable-mdpi/src_res_assets_ques.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redaccount.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redbox.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redcart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redcart1.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redcart2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redchatarrow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redclock.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redcolorbag.png
android/app/src/main/res/drawable-mdpi/src_res_assets_reddelete.png
android/app/src/main/res/drawable-mdpi/src_res_assets_rededit.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redevent.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redeye.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redincome.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redlike.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redmore.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redproducts.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redprof.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redsave.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redsearchicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redsearchtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redshare.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redshop.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redshopfooter.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redshopp.png
android/app/src/main/res/drawable-mdpi/src_res_assets_redtvicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_refershgreen.png
android/app/src/main/res/drawable-mdpi/src_res_assets_refresh.png
android/app/src/main/res/drawable-mdpi/src_res_assets_registration_bg_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_returnacctoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_returnlivetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_returnordtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_returnprodtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_returntoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_rightarrow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_righticon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_rightpop.png
android/app/src/main/res/drawable-mdpi/src_res_assets_righttoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_rivert.png
android/app/src/main/res/drawable-mdpi/src_res_assets_sales.png
android/app/src/main/res/drawable-mdpi/src_res_assets_saletoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_screenimg.png
android/app/src/main/res/drawable-mdpi/src_res_assets_search_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_searchdata.png
android/app/src/main/res/drawable-mdpi/src_res_assets_searchicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_sendchat.png
android/app/src/main/res/drawable-mdpi/src_res_assets_sending.png
android/app/src/main/res/drawable-mdpi/src_res_assets_sendme.png
android/app/src/main/res/drawable-mdpi/src_res_assets_settings.png
android/app/src/main/res/drawable-mdpi/src_res_assets_settingtoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_share.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shareicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shareshop.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shareware.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shirtimg.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shoes.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shoesbox.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shoesjeans.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shop.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shopfooter.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shopify.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shoplive.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shoppingcartred.png
android/app/src/main/res/drawable-mdpi/src_res_assets_shoptoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_signout.png
android/app/src/main/res/drawable-mdpi/src_res_assets_smile.png
android/app/src/main/res/drawable-mdpi/src_res_assets_smstoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_sparrow.png
android/app/src/main/res/drawable-mdpi/src_res_assets_speker.png
android/app/src/main/res/drawable-mdpi/src_res_assets_splashscreen.png
android/app/src/main/res/drawable-mdpi/src_res_assets_store.png
android/app/src/main/res/drawable-mdpi/src_res_assets_subscribetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_subscription_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_sucess.png
android/app/src/main/res/drawable-mdpi/src_res_assets_tali.png
android/app/src/main/res/drawable-mdpi/src_res_assets_teashop.png
android/app/src/main/res/drawable-mdpi/src_res_assets_theme.png
android/app/src/main/res/drawable-mdpi/src_res_assets_theme1.png
android/app/src/main/res/drawable-mdpi/src_res_assets_theme2.png
android/app/src/main/res/drawable-mdpi/src_res_assets_theme3.png
android/app/src/main/res/drawable-mdpi/src_res_assets_threemore.png
android/app/src/main/res/drawable-mdpi/src_res_assets_tickmark.png
android/app/src/main/res/drawable-mdpi/src_res_assets_timer.png
android/app/src/main/res/drawable-mdpi/src_res_assets_todaycam.png
android/app/src/main/res/drawable-mdpi/src_res_assets_totalincome.png
android/app/src/main/res/drawable-mdpi/src_res_assets_toy.png
android/app/src/main/res/drawable-mdpi/src_res_assets_tvicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_twit.png
android/app/src/main/res/drawable-mdpi/src_res_assets_twitter.png
android/app/src/main/res/drawable-mdpi/src_res_assets_twittericon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_uploadcloud.png
android/app/src/main/res/drawable-mdpi/src_res_assets_vector.png
android/app/src/main/res/drawable-mdpi/src_res_assets_vectorcart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_vectorshare.png
android/app/src/main/res/drawable-mdpi/src_res_assets_vender_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_videoicon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_videologo.png
android/app/src/main/res/drawable-mdpi/src_res_assets_view_icon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_visa.png
android/app/src/main/res/drawable-mdpi/src_res_assets_vphoto.jpeg
android/app/src/main/res/drawable-mdpi/src_res_assets_wallpon.png
android/app/src/main/res/drawable-mdpi/src_res_assets_wallpon_coupon_logo.png
android/app/src/main/res/drawable-mdpi/src_res_assets_wallpon_logo_horizontal.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whatsapp.png
android/app/src/main/res/drawable-mdpi/src_res_assets_white_search.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whitecart.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whitedeltoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whiteedittoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whitefiltertoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whiterighttoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whiteshoetoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whitesneaker.png
android/app/src/main/res/drawable-mdpi/src_res_assets_whitevideo.png
android/app/src/main/res/drawable-mdpi/src_res_assets_winterimage.png
android/app/src/main/res/drawable-mdpi/src_res_assets_woocommerce.png
android/app/src/main/res/drawable-mdpi/src_res_assets_wootoday.png
android/app/src/main/res/drawable-mdpi/src_res_assets_wrongtoday.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnativegoogleplacesautocomplete_images_powered_by_google_on_white.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnativelinkedin_lib_assets_xwhite.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnativegoogleplacesautocomplete_images_powered_by_google_on_white.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnativelinkedin_lib_assets_xwhite.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_drawer_src_views_assets_toggledrawericon.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_stack_src_views_assets_backicon.png
android/app/src/main/res/drawable/background_splash.xml
android/app/src/main/res/drawable/splash_screen.png
